<div class="interactive-wrapper">
  <div class="page-wapper gv-page-width l-side-margins">
    <div class="interactive-header interactive-header__main">
      <a
        class="gv-section-label"
        href="https://www.theguardian.com/world/coronavirus-outbreak"
      >
        <h3>Coronavirus<span class="gv-section__bar"></span></h3>
      </a>
      <div class="gv-headline__wrapper">
        <h1 class="gv-headline">‘Lost on <span>the frontline’</span></h1>
      </div>
      <p class="gv-standfirst gv-main-column">
        <span>lorem ipsum lorem ipsum</span>
      </p>
      <div class="gv-share">{{> share}}</div>
    </div>
    <div class="gv-share-container gv-left-column">
      <div class="gv-timestamp">Jan 1 2020</div>
    </div>
    <div class="interactive-body gv-main-column">
      {{#Sheet1}}
      <div class="gv-main-column--entry">
      <p>{{firstName}} {{lastName}}, {{age}}</p>
      <div class="short-bio-expand-btn">
                 <div class="short-bio-plus"></div>
            </div>
      <span class="gv-main-column--expand-button">Full extract</span>
      </div>
      {{/Sheet1}}
    </div>
  </div>
</div>
