<div class="interactive-wrapper">
  <div class="page-wapper gv-page-width l-side-margins">
    <div class="interactive-header interactive-header__main">
      <a
        class="gv-section-label"
        href="https://www.theguardian.com/world/coronavirus-outbreak"
      >
        <h3>Coronavirus<span class="gv-section__bar"></span></h3>
      </a>
      <div class="gv-headline__wrapper">
        <h1 class="gv-headline">‘So much <span>living to do’</span></h1>
      </div>
      <p class="gv-standfirst gv-main-column">
        <span>{{standfirst}}</span>
      </p>
      <div class="gv-share">{{> share}}</div>
    </div>
    <div class="gv-share-container gv-left-column">
      <div class="gv-timestamp">{{datestamp}}</div>
    </div>
    <div class="interactive-body gv-main-column">
      {{#copy}}
      <p>{{.}}</p>
      {{/copy}}
    </div>
  </div>
</div>
